# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

# Some markdown files are additionally checked using markdownlint.
[*.md]
indent_size = unset
max_line_length = 150

# Some markdown files are additionally checked using markdownlint.
[docs/book/**/*.md]
indent_size = unset
max_line_length = unset
trim_trailing_whitespace = unset

[{*.css,*.html,*.json,*.sh,*.toml,*.yml,*.yaml,cargo-simtest}]
indent_size = 2
max_line_length = 150

[Dockerfile*]
max_line_length = 120

[crates/walrus-orchestrator/src/monitor.rs]
indent_size = unset

# Ignore paths
[{.git/**/*,**/*.lock,**/Move.toml,LICENSE,docs/devnet-public/glossary.md,crates/walrus-orchestrator/assets/*,.editorconfig,venv/**/*,crates/walrus-service/*.html,crates/walrus-service/*.yaml,docker/walrus-antithesis/build-walrus-image-for-antithesis/update_move_toml.sh,docs/mdbook-admonish.css,docs/theme/**/*,.github/workflows/issues-monitor.yaml,scripts/simtest/seed-search.py}]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
max_line_length = unset
trim_trailing_whitespace = unset
