# Editors/OS
**/.history/
**/.idea/
.vscode/*

.nvimrc
.DS_Store

# Rust build and test files
**/target
tarpaulin-report.html
build_rs_cov.profraw
cobertura.xml
flamegraph.svg

# Move-related files
build/
.trace
.coverage_map.mvcov

# Custom pre-commit configuration
.custom-pre-commit-config.yaml

# mdBook
docs/build/

# Walrus binary and configuration
./walrus
./client_config.yaml
docs/examples/CONFIG/bin/walrus
docs/examples/CONFIG/config_dir/client_config.yaml

# Misc
*.key
.env
working_dir/
*.log
venv/
**/tmp
out/

# Deployment assets
crates/walrus-orchestrator/assets/
!crates/walrus-orchestrator/assets/dashboard-template.json
!crates/walrus-orchestrator/assets/settings-template.yaml
