# Editors/OS
**/.history/
**/.vscode/
**/.idea/
.nvimrc
.DS_Store

# Rust build and test files
**/target
tarpaulin-report.html
build_rs_cov.profraw
cobertura.xml
flamegraph.svg

# Move-related files
build/
.trace
.coverage_map.mvcov

# Custom pre-commit configuration
.custom-pre-commit-config.yaml

# Misc
*.key
.env
client_config.yaml
working_dir
*.log
venv/
