openapi: 3.1.0
info:
  title: Walrus Upload Relay
  description: ''
  contact:
    name: Mysten Labs
    email: build@mystenlabs.com
  license:
    name: Apache-2.0
    identifier: Apache-2.0
  version: <VERSION>
paths:
  /v1/blob-upload-relay:
    post:
      tags: []
      summary: Upload a Blob to the Walrus Network
      description: |-
        Note that the Blob must have previously been registered.

        This endpoint checks that any required Tip has been supplied, then fulfills a request to store
        slivers.
      operationId: blob_upload_relay_handler
      parameters:
      - name: blob_id
        in: query
        description: The blob ID of the blob to be sent to the storage nodes.
        required: true
        schema:
          $ref: '#/components/schemas/BlobId'
        style: form
      - name: tx_id
        in: query
        description: |-
          The Base58 transaction ID of the transaction that sends the tip to the proxy.

          This field is _required_ in the case where the proxy requires a tip.
        required: false
        schema:
          $ref: '#/components/schemas/TransactionDigest'
        style: form
      - name: nonce
        in: query
        description: |-
          The nonce, the preimage of the hash added to the transaction inputs.

          This field is _required_ in the case where the proxy requires a tip.
        required: false
        schema:
          $ref: '#/components/schemas/BlobDigest'
        style: form
      - name: deletable_blob_object
        in: query
        description: |-
          The object ID of the deletable blob to be stored.

          If the blob is to be stored as a permanent one, this parameter should not be specified.
        required: false
        schema:
          $ref: '#/components/schemas/ObjectID'
        style: form
      - name: encoding_type
        in: query
        description: |-
          The encoding type for the blob.

          If omitted, RS2 is used by default.
        required: false
        schema:
          $ref: '#/components/schemas/EncodingType'
        style: form
      requestBody:
        description: Binary data of the unencoded blob to be stored.
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/Binary'
        required: true
      responses:
        '200':
          description: The blob was relayed to the Walrus Network successfully
  /v1/tip-config:
    get:
      tags: []
      summary: Returns the tip configuration for the current Walrus Upload Relay.
      description: Allows clients to refresh their configuration of the proxy's address and tip amounts.
      operationId: send_tip_config
      responses:
        '200':
          description: The tip configuration was retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TipConfig'
components:
  schemas:
    Binary:
      type: string
      format: binary
    BlobDigest:
      type: string
      title: Digest
      format: byte
      description: A 32-byte digest (or hash) as a URL-encoded (without padding) Base64 string
      examples:
      - rw8xIuqxwMpdOcF_3jOprsD9TtPWfXK97tT_lWr1teQ
    BlobId:
      type: string
      format: byte
      description: The ID of a blob.
      examples:
      - E7_nNXvFU_3qZVu3OH1yycRG7LZlyn1-UxEDCDDqGGU
    EncodingType:
      type: string
      description: Supported Walrus encoding types.
      enum:
      - RS2
    ObjectID:
      type: string
      title: Sui object ID
      description: Sui object ID as a hexadecimal string
      examples:
      - 0x56ae1c86e17db174ea002f8340e28880bc8a8587c56e8604a4fa6b1170b23a60
    SuiAddress:
      type: string
      title: Sui address
      description: Sui address encoded as a hexadecimal string
      examples:
      - 0x02a212de6a9dfa3a69e22387acfbafbb1a9e591bd9d636e7895dcfc8de0
    TipConfig:
      oneOf:
      - type: string
        description: The publisher does not require tips.
        enum:
        - no_tip
      - type: object
        description: The address to which to the tip is paid and the tip computation.
        required:
        - send_tip
        properties:
          send_tip:
            type: object
            description: The address to which to the tip is paid and the tip computation.
            required:
            - address
            - kind
            properties:
              address:
                $ref: '#/components/schemas/SuiAddress'
                description: The address to which a tip.
              kind:
                $ref: '#/components/schemas/TipKind'
                description: The formula to compute the tip.
      description: The configuration for the tips to the relay.
    TipKind:
      oneOf:
      - type: object
        description: A constant tip.
        required:
        - const
        properties:
          const:
            type: integer
            format: int64
            description: A constant tip.
            minimum: 0
      - type: object
        description: A tip that linearly depends on the encoded size of the blob.
        required:
        - linear
        properties:
          linear:
            type: object
            description: A tip that linearly depends on the encoded size of the blob.
            required:
            - base
            - encoded_size_mul_per_kb
            properties:
              base:
                type: integer
                format: int64
                description: The base tip amount to be charged for each upload.
                minimum: 0
              encoded_size_mul_per_kb:
                type: integer
                format: int64
                description: |-
                  The amount of tip charged per kilobyte of the encoded blob size. Note that this adds to
                  the base tip, so the total tip for a blob is:
                  `base + encoded_size_mul_per_kb * ⌊encoded_size_in_bytes / 1024⌋`.
                minimum: 0
      description: The kinds of tip that the proxy can choose to configure.
      examples:
      - const:
          $serde_json::private::Number: '31415'
      - linear:
          base:
            $serde_json::private::Number: '101'
          encoded_size_mul_per_kb:
            $serde_json::private::Number: '42'
    TransactionDigest:
      type: string
      title: Sui transaction digest
      description: Sui transaction digest (or transaction ID) as a Base58 string
      examples:
      - EmcFpdozbobqH61w76T4UehhC4UGaAv32uZpv6c4CNyg
